<div id="fretboard">
  <div
    class="full-string-container"
    *ngFor="let string of numberOfStrings; let indexOfString = index"
  >
    <app-fret-container
      *ngFor="let fret of numberOfFrets; let indexOfFret = index"
      [indexOfString]="indexOfString"
      [indexOfFret]="indexOfFret"
    ></app-fret-container>
  </div>
</div>

<div id="info-container">
  <h3>READ OUT</h3>
  <div *ngFor="let chord of chordsInScale | keyvalue">
    <p>Key: {{ chord.value[0].substring(0,1) }}</p>
    <p>Value: {{ chord.value[0].substring(0,1) }} {{ chord.value[1].substring(0,1) }} {{ chord.value[2].substring(0,1) }}</p>
  </div>
</div>
