<div (keydown)="changeChord($event)" id="arp-triggers" #triggers tabindex="1">
  <input id="chord-1" value="1" type="radio" name="chord" checked />
  <input id="chord-2" value="2" type="radio" name="chord" />
  <input id="chord-3" value="3" type="radio" name="chord" />
  <input id="chord-4" value="4" type="radio" name="chord" />
  <input id="chord-5" value="5" type="radio" name="chord" />
  <ul>
    <li><label for="chord-1">1</label></li>
    <li><label for="chord-2">2</label></li>
    <li><label for="chord-3">3</label></li>
    <li><label for="chord-4">4</label></li>
    <li><label for="chord-5">5</label></li>
  </ul>
</div>
<div id="playback-controls">
  <div id="play-btn">
    <h3 id="play-toggle" (click)="playPause()">{{ playPauseBtn }}</h3>
    <h3 id="bpm">{{ bpmString }}</h3>
    <select #root (change)="changeRootNote(root.value)" name="root-note">
      <option *ngFor="let note of chromaticScale" [value]="note">{{note}}</option>
    </select>
    <select #scaleType (change)="changeScaleType(scaleType.value)" name="scale-type">
      <option *ngFor="let scale of scaleTypes" [value]="scale">{{scale}}</option>
    </select>
    <h3>{{ rootNote$ | async }} {{ scaleType$ | async }}</h3>
  </div>
</div>
