<div (keydown)="changeChord($event)" id="arp-triggers" #triggers tabindex="1">
    <input *ngFor="let chord of chords | keyvalue; let i = index"
           id="chord-{{chord.key}}"
           value="{{i+1}}" type="radio"
           name="chord">
  <ul>
    <li *ngFor="let chord of chords | keyvalue let i = index">
      <label for="chord-{{chord.key}}">{{chord.value[0]}}</label>
    </li>
  </ul>
</div>
<app-scale-picker></app-scale-picker>
<!--<div id="playback-controls">-->
<!--  <div id="play-btn">-->
<!--    <h3 id="play-toggle" (click)="playPause()">{{ playPauseBtn }}</h3>-->
<!--    <h3 id="bpm">{{ bpmString }}</h3>-->
<!--    <div id="scale-selection">-->
<!--      <select #root (change)="changeRootNote(root.value)" name="root-note">-->
<!--        <option *ngFor="let note of chromaticScale" [value]="note">{{note}}</option>-->
<!--      </select>-->
<!--      <select #scaleType (change)="changeScaleType(scaleType.value)" name="scale-type">-->
<!--        <option *ngFor="let scale of scaleTypes" [value]="scale">{{scale}}</option>-->
<!--      </select>-->
<!--      <select #arpDirection (change)="changeArpDirection(arpDirection.value)" name="arp-direction">-->
<!--        <option *ngFor="let d of direction" [value]="d">{{d}}</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <h3>{{ rootNote$ | async }} {{ scaleType$ | async }}</h3>-->
<!--  </div>-->
<!--  <div id="control">-->
<!--&lt;!&ndash;    <mat-form-field class="chord-select">&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-label>Root Note</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-select panelClass="test" #root (selectionChange)="changeRootNote(root.value)" name="root-note">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-option *ngFor="let note of chromaticScale" value="{{note}}">{{note}}</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <mat-option value="option2">Option 2</mat-option>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <mat-option value="option3">Option 3</mat-option>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-form-field>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
