<div (keydown)="changeChord($event)" id="arp-triggers" #triggers tabindex="1">
    <input *ngFor="let chord of chords | keyvalue; let i = index"
           id="chord-{{chord.key}}"
           value="{{i+1}}" type="radio"
           name="chord">
  <ul>
    <li *ngFor="let chord of chords | keyvalue let i = index">
      <label for="chord-{{chord.key}}">{{chord.value[0]}}</label>
    </li>
  </ul>
</div>
<div id="playback-controls">
  <div id="play-btn">
    <h3 id="play-toggle" (click)="playPause()">{{ playPauseBtn }}</h3>
    <h3 id="bpm">{{ bpmString }}</h3>
    <div id="scale-selection">
      <select #root (change)="changeRootNote(root.value)" name="root-note">
        <option *ngFor="let note of chromaticScale" [value]="note">{{note}}</option>
      </select>
      <select #scaleType (change)="changeScaleType(scaleType.value)" name="scale-type">
        <option *ngFor="let scale of scaleTypes" [value]="scale">{{scale}}</option>
      </select>
    </div>
    <h3>{{ rootNote$ | async }} {{ scaleType$ | async }}</h3>
  </div>
</div>
