<div id="step-container" #container>
  <div id="row1" class="row">
    <ng-container *ngFor="let box of boxes; let i = index">
      <div
        #pad
        id="button{{ i }}"
        (click)="activateStep(i, 1)"
        class="box"
        [ngStyle]="{
          border: activeBox === i ? '2px yellow solid' : 'black',
          'background-color': boxes[i] ? 'white' : '#283039'
        }"
      ></div>
    </ng-container>
  </div>
  <div id="row2" class="row">
    <ng-container *ngFor="let box of boxes2; let i = index">
      <div
        #pad
        (click)="activateStep(i, 2)"
        class="box"
        [ngStyle]="{
          border: activeBox === i ? '2px yellow solid' : 'black',
          'background-color': boxes2[i] ? 'white' : '283039'
        }"
      ></div>
    </ng-container>
  </div>
  <div id="row3" class="row">
    <ng-container *ngFor="let box of boxes3; let i = index">
      <div
        #pad
        (click)="activateStep(i, 3)"
        class="box"
        [ngStyle]="{
          border: activeBox === i ? '2px yellow solid' : 'black',
          'background-color': boxes3[i] ? 'white' : '283039'
        }"
      ></div>
    </ng-container>
  </div>
<!--  TODO: // Make a new arr of boxes for row 4-->
<!--  <div id="row4" class="row">-->
<!--    <ng-container *ngFor="let box of boxes3; let i = index">-->
<!--      <div-->
<!--        #pad-->
<!--        (click)="activateStep(i, 4)"-->
<!--        class="box"-->
<!--        [ngStyle]="{-->
<!--          border: activeBox === i ? '2px yellow solid' : 'black',-->
<!--          'background-color': boxes3[i] ? 'white' : '283039'-->
<!--        }"-->
<!--      ></div>-->
<!--    </ng-container>-->
<!--  </div>-->
</div>
<button (click)="play()">PLAY</button>
<button (click)="stop()">STOP</button>
<button (click)="reset()">RESET</button>
<app-synth (newSynth)="setSynth($event)"></app-synth>
<h1>{{ bpm }}</h1>
<app-dial
  id="bpm"
  [id]="'bpm'"
  [min]="50"
  [max]="250"
  [step]="1"
  (change)="changeBPM($event)"
></app-dial>
<div id="synth-controls">
  <div class="control-container">
    <p>OSC Select</p>
    <app-select
      id="select-osc"
      [id]="'select-osc'"
      [options]="'sin'"
      [value]="'sin'"
      (change)="changeOsc($event)"
    ></app-select>
  </div>
  <div class="control-container">
    <p>Frequency</p>
    <app-dial
      id="dial-freq"
      [id]="'dial-freq'"
      [min]="1"
      [max]="100"
      [step]="1"
      (change)="changeFreq($event)"
    ></app-dial>
  </div>
</div>

